@import "yoga";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";
@import "box-sizing";


$button_grey: #ddd;
$button_green: #80cbc4;
$header_bar_blue: #00bbd3;
$title_white: #fff;
$regular_text: rgba(255, 255, 255, 0.6);
$placeholder_text: rgba(255, 255, 255, .04);
$green_text: #92cbc5;
$button_text_grey: #1c1c1c;

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  max-width: 480px;
  margin: auto;
}

nav {
  background: $header_bar_blue;
  display: flex;
  color: #fff;
}

.title {
  padding-left: 20px;
}

.index_lists, .runbutton {
  display: flex;
  background-color: $button_text_grey;
  padding: 0 10px;
}

ul {
  flex: 1;
  margin-top: 0;
  padding-left: 0px;
  padding-top: 10px;
  list-style: none;
  border-bottom: $regular_text 1px solid;
}

.rundate_list, .runtime_list {
  font-size: 16px;
  line-height: 24px;
  color: $regular_text;
}

.runtime_list {
  float: right;
  color: $green_text;
}

.runbutton {
  flex: 1;
  width: 100%;
  justify-content: flex-end;
}

.fa-plus {
  color: $button_grey;
  background:$button_green;
  border-radius: 50%;
  border: solid 1px $button_green;
  padding: 20px;
  margin: 150px 5px 15px;
}
