@import "yoga";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";
@import "box-sizing";


$button_grey: #ddd;
$button_green: #80cbc4;
$header_bar_blue: #00bbd3;
$title_white: #fff;
$regular_text: rgba(255, 255, 255, 0.6);
$placeholder_text: rgba(255, 255, 255, .04);
$green_text: #92cbc5;
$button_text_grey: #1c1c1c;

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  max-width: 480px;
  margin: auto;
  background-color: $button_text_grey;
}

nav {
  background: $header_bar_blue;
  display: flex;
  color: #fff;
}

.title {
  padding-left: 1em;
  font-size: 16px;
}

.rundate {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $button_text_grey;
  padding: 0 1em;
  list-style: none;
}

ul {
  border-bottom: $regular_text 1px solid;
}

.run-date, .run-time {
  background-color: $button_text_grey;
  font-size: 16px;
  line-height: 24px;
  border-style: none;
  list-style: none;
}

.run-time {
  text-align: right;
  color: $green_text;
}

.run-date {
  color: $regular_text;
}

.btn {
  background-color: $button_grey;
  color: $button_green;
}

.btn-newrun {
  float: right;
  border-style: none;
  margin-top: 100px;
  background-color: $button_text_grey;
}

.fa-plus {
  color: $button_grey;
  background:$button_green;
  border-radius: 50%;
  border: solid 1px $button_green;
  padding: 15px;
  // margin: 150px 5px 15px;
}
