@import "yoga";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";
@import "box-sizing";


$button_grey: #ddd;
$button_green: #80cbc4;
$header_bar_blue: #00bbd3;
$title_white: #fff;
$regular_text: rgba(255, 255, 255, 0.6);
$placeholder_text: rgba(255, 255, 255, .04);
$green_text: #92cbc5;
$button_text_grey: #1c1c1c;

//**
//
//Font Family:  Roboto
//Icon Font: Font-Awesome
//Base Font-size:  16px
//Base Line Height:  24px
//
//**
